.userEdit__header {
  background-color: #5581a6;
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 32px;
}

.section__container {
  /* background-color: teal; */
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
}

.section {
  background-color: white;
  border-top: 1px solid lightgray;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}

.title {
  position: absolute;
  top: -10px;
  background-color: white;
  left: 150px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  width: 150px;
}
